body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: BLACK;
  font-family: Impact, sans-serif;
}

header {
  margin: auto;
  padding-left: 30px;
  background-color: #00213e;
  color: WHITE;
  overflow: hidden;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: gray;
}

ul {
  float: right;
}

li {
  float: left;
  list-style-type: none;
  padding: 30px 30px 30px 30px;
  font-size: 20px;
}

.showcase {
  min-height: 600px;
  background:url('../img/BlackMeetings.jpg') no-repeat;
  background-size: cover;
  background-position: top center;
  filter:brightness(50%);
}

.showcase h2, .showcase p{

  font-weight:bold;
  color: white;
}

.logo {
  font-size: 80px;
  font-weight: bold;
  float: left;
  margin: -10px 0 0 0;
}

#amp {
  font-size: 94px;
  color: gray;
}
