body {
  padding: 0;
  margin: 0;
  background-color: #00213e;
  color: BLACK;
  font-family: Impact, sans-serif;
  min-height: 100%;
}

header {
  margin: auto;
  padding: 0;
  padding-left: 30px;
  background-color: #00284d;
  color: WHITE;
  overflow: hidden;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: gray;
  padding-bottom: 0;
  height: 100%;
}

ul {
  float: right;
}

li {
  float: left;
  list-style-type: none;
  padding: 0px;
  margin: 30px 30px 30px 30px;
  font-size: 20px;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: gray;
}
img {
  padding: 0;
  margin: 0;
}

.grid{
  display: grid;
  padding: 0;
  margin: 0;
  height: 1500px;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.showcaser{
  grid-column: 2/span 2;
}
.showcasedl{
  background-color: #d9d9d9;
}
.showcasel{
  grid-column: 1/span 2;
  background-image: url('../img/BlackMeetings.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.showcasedr{
  background-color: #d9d9d9;
}
#current{
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: white;
}
#show1{
  background-image: url('../img/BlackMeetings.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#show2{
  background-image: url('../img/Speaking.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position:top;
  width: 100%;
}
#show3{
  background-image: url('../img/Academics.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#logo {
  position: relative;
  height: 100px;
  width: 100px;
  float: left;
}
